<table>
  <tbody id="morpions">
    <tr>
      <%= render 'tds', coords: (0..2).to_a %>
    </tr>
    <tr>
      <%= render 'tds', coords: (3..5).to_a %>
    </tr>
    <tr>
      <%= render 'tds', coords: (6..8).to_a %>
    </tr>
  </tbody>
</table>
