<div class="game-trip">
  <img src="https://jeutaime.be/wp-content/uploads/2020/11/morpion.jpg" />
  <div class="game-trip-infos d-flex justify-content-between m-2">
    <div class="me-2">
      <h2><%= game.name %></h2>
      <p>Join the battle!</p>
    </div>
    <div>
      <%= link_to "Join now", game_path(game), class:"btn btn-flat" %>
    </div>
  </div>
</div>
