<div data-controller="local" data-local-game-id-value="<%= @game.id %>"  data-player = "player1">
  <h2><%= @game.name %></h2>
  <%= render 'board' %>
  <div class="d-none" data-local-target="results">
    <p class="mt-3" data-local-target="winner">to replaced</p>
    <div class="btn btn-flat" data-action="click->local#boardRefresh">
      <p> Replay ?</p>
    </div>
  </div>
</div>
