<td class="not_filled" data-type = "none" data-action ="click->game#playerAction"></td>
<td class="not_filled" data-type = "none" data-action ="click->game#playerAction"></td>
<td class="not_filled" data-type = "none" data-action ="click->game#playerAction"></td>
