<% coords.each do |c| %>
  <td class="not_filled" data-type = "none" <%="data-#{@stimulus_controller}-target = c#{c}"%> data-action = <%="click->#{@stimulus_controller}#playerAction"%>></td>
<% end %>
