<div class="container">
  <h1 class="d-flex justify-content-center mb-5">Welcome to morpions site</h1>
  <div class="d-flex justify-content-around">
      <%= render "games"%>
      <%= render "create_game"%>
  </div>
</div>
