// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

td.not_filled {
  // background-color: black;
  background-image: asset-url("not_used.svg");
  height: 75px;
  width: 75px;
}

td.cross {
  // background-color: black;
  background-image: asset-url("1.svg");
  height: 75px;
  width: 75px;
}

td.circle {
  // background-color: black;
  background-image: asset-url("2.svg");
  height: 75px;
  width: 75px;
}
