// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.games{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px
}

.new-game{
  width: 200px;
  padding-left: 25px;
}

td.not_filled {
  // background-color: black;
  border-color: black;
  border-width: 2px;
  height: 75px;
  width: 75px;
}

td.cross {
  // background-color: black;
  background-image: url("https://dictionary.cambridge.org/fr/images/thumb/cross_noun_002_09265.jpg?version=5.0.243");
  background-size: cover;
  background-position: center;
  height: 75px;
  width: 75px;
  border-color: black;
  border-width: 2px;
  height: 75px;
  width: 75px;
}

td.circle {
  // background-color: black;
  background-image: url("https://farcrydesign.com/images/tutorials/FinalCircle.png");
  background-size: 100% 70%;
  background-repeat: no-repeat;
  background-position: center;
  height: 75px;
  width: 75px;
  border-color: black;
  border-width: 2px;
  height: 75px;
  width: 75px;
}

.form-check .form-check-input {
  margin-left: -0.5em !important;
}

.form-check-label.collection_radio_buttons{
  margin-left: 1em !important;
}


@media(max-width: 1216px) {
  .games {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media(max-width: 992px) {
  .games {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .games {
    grid-template-columns: 1fr;
  }
}
